.home {
  padding: 20px 0 30px;
  .aboutMe {
    padding: 0 0 10px;
  }
  .sites {
    h2 {
      margin-bottom: 10px;
    }
    select {
      max-width:     300px;
      margin-bottom: 15px;
    }
    .sitesLinks {
      display:    flex;
      flex-wrap:  wrap;
      gap:        20px;
      text-align: center;
    }
    a {
      &:hover {
        .screenshot {
          border-radius: 20px;
          border-color:  #6BC2BB;
        }
        h3 {
          color: #6BC2BB;
        }
      }
      &:active {
        .screenshot {
          opacity: .7;
        }
      }
      .screenshot {
        border:     2px solid transparent;
        overflow:   hidden;
        transition: .2s linear;
      }
      img {
        height:     90vw;
        object-fit: cover;
      }
      h3 {
        transition: .2s linear;
      }
    }
  }
}

@media(min-width: 567px) {
  .home {
    .sites {
      .sitesLinks {
        li {
          width: 47%;
        }
      }
      a {
        img {
          height: 43vw;
        }
      }
    }
  }
}

@media(min-width: 768px) {
  .home {
    .sites {
      .sitesLinks {
        li {
          width: 31%;
        }
      }
      a {
        img {
          height: 27vw;
        }
      }
    }
  }
}

@media(min-width: 1024px) {
  .home {
    width:       75%;
    margin-left: 25%;
    .aboutMe {
      padding: 0 0 15px;
    }
    .sites {
      a {
        img {
          height: 240px;
        }
      }
    }
  }
}