.sidebar {
  padding: 20px 0 10px;
  .skills {
  }
  .wrapper {
    z-index:          1;
    background-color: #fff;
  }
  .profile {
    margin:  0 0 18px;
    display: flex;
  }
  .photo {
    margin:  0 20px 0 0;
    display: inline-flex;
    img {
      height:        110px;
      width:         110px;
      object-fit:    cover;
      border:        2px solid #6BC2BB;
      border-radius: 100%;
    }
  }
  .info {
    display:         flex;
    flex-direction:  column;
    justify-content: center;
    h1 {
      margin-bottom: 5px;
    }
    h2 {
      margin-bottom: 15px;
    }
  }
  .location {
    display:       flex;
    align-items:   center;
    margin-bottom: 10px;
    svg {
      height:       15px;
      width:        15px;
      margin-right: 7px;
      path {
        fill: #6BC2BB;
      }
    }
  }
  .skillsWindow {
    max-height: 250px;
  }
  ul {
    display:   flex;
    flex-wrap: wrap;
  }
  li {
    margin: 0 15px;
  }
  .description {

  }
}

@media(min-width: 567px) {
  .sidebar {
    max-width: 600px;
    .photo {
      margin-right: 30px;
      img {
        height: 140px;
        width:  140px;
      }
    }
    ul {
      &.show {
        padding: 10px 20px;
      }
    }
    li {
      font-size: 18px;
    }
  }
}

@media(min-width: 768px) {
  .sidebar {
    max-width: 100%;
    .wrapper {
      display:         flex;
      justify-content: space-between;
    }
    .skills {
      width: 40%;
    }
    .info {
      display:     inline;
      padding-top: 10px;
    }
    li {
      font-size: 22px;
    }
  }
}

@media(min-width: 1024px) {
  .sidebar {
    max-width: 500px;
    .wrapper {
      flex-direction: column;
    }
    .skills {
      width: 100%;
    }
    .photo {
      img {
        height: 150px;
        width:  150px;
      }
    }
    .info {
      display:     flex;
      padding-top: 0;
    }
  }
}

@media(min-width: 1440px) {
  .sidebar {

  }
}
